<div class="card mx-auto m-4">
    <div class="card-body">
        <div class="card-header">
            <h1>About</h1>
        </div>
        <div class="card-body">
            <p>Weas que deberian haber aqui, pero no estan, por que me sale de la punta del glande. Por 3</p>
        </div>
    </div>
</div>