<div class="jumbotron mt-4">
    <h1 class="display-4">Notes App Nodejs & MongoDB</h1>
    <p class="lead">Lorem ipsum dolor et</p>
    <hr class="my-4">
    <p>Weas que deberian haber aqui, pero no estan, por que me sale de la punta del glande</p>
    <a href="http://www.rizomandev.com" class="btn btn-primary btn-lg">RizoManDev</a>
</div>