<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <base href="/">

    <!--- Bootstrap 4 --->
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <script src="/js/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="/js/jquery-3.4.1.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>

    <!-- Font Awesome-->
    <!--script src="/js/fontawesome.js"></script-->

    <!-- Custom sheets-->
    <link rel="stylesheet" href="/css/main.css">
    <title>Notes CRUD APP</title>
</head>
<body>
    {{> navigation }}
    <main class="container p-4">
        {{> messages }}
        {{> errors}}
        {{{ body }}}
    </main>
    <p>Footer   </p>

</body>
</html>